<h1>Show Stock page</h1>
<h1><%= @stock_quote.company_name %></h1>
<p>Symbol: <%= @stock_quote.symbol %> </p>
<p>Price: <%= @stock_quote.delayed_price %> </p>
<p>52 Week Low: <%= @stock_quote.week_52_low %> </p>
<p>52 Week High: <%= @stock_quote.week_52_high %> </p>
<p>Market Cap: <%= @stock_quote.market_cap %> </p>
<p>Volume: <%= @stock_quote.avg_total_volume %> </p>

