<h2 class="welcome-users-index">Welcome, <%= @current_user.name %></h2>

<h3 class="what-do-today"> What would you like to do today? </h3>

    <div class = "row centering font fontsize "> 
    <ul>
    <br>
        <%= link_to "View My Financial Goals", goals_path%>
        <br>
        <br>
        <%= link_to "Check My Bank Balance", transactions_path %>
        <br>
        <br>
        <%= link_to "View My Investments", investments_path%>
        <br>
        <br>
        <%= button_to "Log Out", logout_path, method: :delete%>
        <br>
        </ul>
    </div>
