<h1 class="welcome-page font ">Welcome to the Khan-Liang Personal Finance App</h1>

<h2 class="our-core-values font ">Our core values</h2>
<p class="core-values font ">
  We believe every person should be comfortable setting personal financial goals, 
  and that investing shouldn't be scary. We welcome all members
  who are ready to take control of their lives and their money. 
  If you are a member, please login below.
</p>


<div>
  <% if flash[:my_errors] %>
      <p style="color:red;"><%= flash[:my_errors] %></p>
    <% end %>
</div>

<div class="form">
<%= form_tag "/login" do  %>
    <%= label_tag :Username %>
    <%= text_field_tag :name %>
    <br>
    <br>
    <%= label_tag :Email%>
    <%= text_field_tag :email_address%>
    <br>
    <br>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
    <br>
    <br>
    <%= submit_tag "Log in!" %>
<% end %>
</div>