<h1>Welcome to the Khan-Liang Personal Finance App</h1>

<h2>Our core values</h2>
<p>
  We believe every person should be comfortable setting personal financial goals, and that investing shouldn't be scary. We welcome all members
  who are ready to take control of their lives and their money. If you are a member, please login below.
</p>

<%# A FORM TAG WILL MAKE A POST REQUEST TO THE URL PROVIDED %>
<%# THE NAMES OF OUR INPUTS BECOMES THE KEYS OF OUR PARAMS (lines 9 and 11) %>

<div>
  <% if flash[:my_errors] %>
      <p style="color:red;"><%= flash[:my_errors] %></p>
    <% end %>
</div>

<%= form_tag "/login" do  %>
    <%= label_tag :Username %>
    <%= text_field_tag :name %>
    <br>
    <br>
    <%= label_tag :Email%>
    <%= text_field_tag :email_address%>
    <br>
    <br>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
    <br>
    <br>
    <%= submit_tag "Log in!" %>
<% end %>