<div>
<h2>Goal: <%= @goal.title %></h2>
<h3>Amount: $<%= @goal.amount %></h3>
</div>
<br>
<br>
<br>


<div>
    <%= link_to "Update Goal", edit_goal_path(@goal) %>
    <br>
    <%= link_to "Delete Goal", goal_path, method: :delete %>
    <br>
    <%= link_to "Go back to My Goal$", goals_path%> 

</div>