<!DOCTYPE html>
<html>
  <head>
    <title>FinancialApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>

    <% if logged_in? %>
        <%# Logged in as  <%#= @current_user.name %> %>
      <% end %>

    </nav>
    <%= yield %>
  </body>
</html>
